doctype html
html(lang="en")
  head
    title= title
  body
    h1= pollQuestion
      ul
        li Answer 1: 6 votes
        li Answer 2: 2 votes
        li Answer 3: 9 votes
        li Answer 4: 2 votes
