extends layout

block content
  body
    .container
      .row
        .well
          h1= pollQuestion
            h4.ul
              each val, index in currentPollInfo
                li #{index} currently has #{val} votes.
        #connection-count
